:root {
  --celeste: #bcf8ecff;
  --light-blue: #aed9e0ff;
  --prussian-blue: #1c3144ff;
  --feldgrau: #596f62ff;
  --melon: #fab3a9ff;
}

.App {
  text-align: center;
  
}



.header {
  background-color: var(--melon);
  min-height: 20vh;
  max-height: 200px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.navLink {
  color: var(--prussian-blue);


}


