:root {
  --celeste: #bcf8ecff;
  --light-blue: #aed9e0ff;
  --prussian-blue: #1c3144ff;
  --feldgrau: #596f62ff;
  --melon: #fab3a9ff;
}

.App {
  text-align: center;
  
}





.navLink {
  color: var(--prussian-blue);


}

#navbar .navbar-brand {
  color: var(--prussian-blue);
  font-weight: 600;
  height: auto;
  padding: 0;
  font-size: 22px;
  line-height: 1.6;
}






